.upperBody {
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    width: 95vw;
}

.mainValues {
    justify-content: space-between;
    height: min-content;
}

.primaryValue {
    width: 100%;
}

.secundaryValue {
    width: 49%;
}


.cardGrafico {
    display: flex;
    flex-direction: column;
}

.history_container{
    width: 92vw;
    margin-inline: auto;
}
.history{
    flex-wrap: wrap;

}