.upperBody {
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    width: 95vw;
}

.mainValues {
    justify-content: space-between;
    height: min-content;
}


.cardGrafico {
    display: flex;
    flex-direction: column;
}

.registros_container{
    width: 92vw;
    margin-inline: auto;
}
.registros{
    flex-wrap: wrap;

}