body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(235, 235, 235);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --mColor-lightest: #E9F7EA;
    --mColor-light: #C4E3CC;
    --mColor-medium: #81C785;
    --mColor-deep: #4CAF50;
    --mColor-bright: #2E7D32;
}
input:focus, select:focus{
  border-color: var(--mColor-bright) !important;
  box-shadow: 0 0 0px 4px var(--mColor-lightest) !important;
}